header{
  display:flex;
  justify-content:space-between;
  background-color:var(--light-background-50);
  padding: 2.25rem var(--page-inline-padding);
}


header nav{
  display:flex;
  align-items:center;
  gap: min(1.625rem, 4vw);
}

.header__main-logo{
  text-decoration:none;
  font-size: 1.58rem;
  font-weight: 900;
  line-height: 1.6;
  text-align: left;
  color:var(--dark-font-99);
}